<!doctype html>
<html class="no-js" lang="">
<head>
{{>head}}
</head>
<body>
{{>header}}

  <h1>Svatební dary</h1>
  <div>
    <ul id="presents"></ul>
  </div>

  <script type="text/javascript">

    var http = new XMLHttpRequest();
    http.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        displayPresents(JSON.parse(this.responseText));
      }
    }
    http.open('GET', 'api/presents', true);
    http.send();

    function displayPresents(presents) {
      var list = document.getElementById('presents');
      for (i=0; i < presents.length; i++) {
        var present = document.createElement('li');
        present.innerHTML = presents[i].title + ' ' + presents[i].price + ' CZK ' + presents[i].status;
        var input = document.createElement('input');
        present.appendChild(input);
        var button = document.createElement('button');
        button.innerHTML = 'Rezervovat';
        present.appendChild(button);
        list.appendChild(present);
      }
    }

  </script>

{{>footer}}
</body>
</html>
